.container
    width: 1140px
    margin: auto
@media (max-width: 1199px)
    .container
        width: 970px
        margin: auto
@media (max-width: 991px)
    .container
        width: 740px
        margin: auto
@media (max-width: 767px)
    .container
        width: 550px
        margin: auto
@media (max-width: 575px)
    .container
        width: 100%
        padding-left: 15px
        padding-right: 15px
        margin: auto
@keyframes video1
    0%
        transform: scale(1.5)
        opacity: 0.5

    49%
        transform: scale(2)
        opacity: 0

    51%
        transform: scale(1)
        opacity: 1

    100%
        transform: scale(1.5)
        opacity: 0.5

@keyframes video2
    0%
        transform: scale(2)
        opacity: 0

    1%
        transform: scale(1)
        opacity: 1

    50%
        transform: scale(1.5)
        opacity: 0.5

    100%
        transform: scale(2)
        opacity: 0

.footer
    background: #0054AC
    &-top
        border-bottom: 3px solid #fff
        padding: 45px 0
        &__wrap
            display: flex
            justify-content: space-between
            grid-gap: 10px
        &__title
            margin-bottom: 10px
            font-weight: 700
            font-size: 16px
            line-height: 19px
            color: #99D90E
        &__link
            font-weight: 400
            font-size: 16px
            line-height: 26px
            display: block
            color: #FFFFFF
            text-decoration: none
    &-bot
        padding: 34px 0
        &__wrap
            display: flex
            align-items: center
            justify-content: space-between
        &__copy
            font-weight: 400
            font-size: 16px
            line-height: 142.52%
            color: #FFFFFF
        &__soc
            display: flex
            align-items: center
            grid-gap: 27px
            a
                display: flex
.top
    border-bottom: 3px solid #fff
    background: #0053A7
    padding: 25px 0
    padding-bottom: 11px
    &__wrap
        display: flex
        justify-content: space-between
    &__block
        display: flex
        align-items: center
        margin-bottom: 14px
        text-decoration: none
    &__icon
        width: 32px
        height: 32px
        margin-right: 19px
        background: #004488
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
    &__text
        font-weight: 700
        font-size: 16px
        line-height: 134%
        color: #FFFFFF
.header
    background: #0053A7
    padding: 14px 0
    position: sticky
    z-index: 3
    top: 0
    &__burg
        display: none
    &__wrap
        display: flex
        align-items: center
        justify-content: space-between
    &__menu
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
        grid-gap: 28px
        a
            font-weight: 600
            font-size: 16px
            line-height: 20px
            letter-spacing: -0.02em
            text-decoration: none
            color: #FFFFFF
            border-bottom: 1px solid transparent
            &:hover, &.active
                border-bottom: 1px solid #FFFFFF
    &__link
        background: #99D90E
        border-radius: 12px
        font-weight: 600
        font-size: 14px
        line-height: 17px
        padding: 14px 50px
        text-decoration: none
        color: #FFFFFF
        &:hover
            color: #004488
.menu
    background: #0053A7
    position: fixed
    top: 0
    right: -100vw
    width: 100vw
    height: 100vh
    position: fixed
    z-index: 10
    transition: all 0.3s
    &.active
        right: 0
    &__wrap
        height: calc(100vh - 60px)
        overflow-y: scroll
        padding-bottom: 40px
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 15px
        padding-bottom: 30px
    .header
        &__menu
            display: block
            border-bottom: 2px solid #FFFFFF
            padding-bottom: 40px
            a
                line-height: 50px
    .top__block
        border-bottom: 1px solid #FFFFFF
        padding-top: 40px
        padding-bottom: 20px
        &:last-child
            border-bottom: 0
        a
            text-decoration: none
@media(max-width: 1199px)
    .header, .top
        overflow: hidden
    .top
        &__text
            font-size: 14px
    .header
        &__menu
            grid-gap: 15px
            a
                font-size: 14px
        &__link
            padding: 14px 30px
    .footer
        &-top__link
            font-size: 14px
@media(max-width: 991px)
    .footer
        &-top__wrap
            flex-wrap: wrap
            grid-gap: 50px 10px
    .top
        display: none
    .header
        &__menu
            display: none
        &__burg
            display: flex
            justify-content: center
            align-items: center
            width: 35px
            height: 35px
            background: #FFFFFF
            border-radius: 6px
@media(max-width: 767px)
    .footer
        &-bot
            &__copy
                font-size: 14px
@media(max-width: 575px)
    .menu
        &__wrap
            margin-left: -15px
            margin-right: -15px
            padding-left: 15px
            padding-right: 15px
        .header
            &__menu
                margin-left: -15px
                margin-right: -15px
                padding-left: 15px
                padding-right: 15px
                a
                    line-height: 35px
        .top
            &__block
                align-items: flex-start
                padding-top: 25px
            &__text
                font-weight: 400
                span
                    display: block
                    margin-top: 5px
    .footer
        text-align: center
        &-top
            &__block
                width: 100%
        &-bot
            padding: 20px 0
            &__wrap
                flex-direction: column
                align-items: center
                grid-gap: 30px
            &__copy
                max-width: 240px
            &__soc
                grid-gap: 20px
    .header
        padding: 10px 0
        &__link
            font-size: 11px
            line-height: 12px
            padding: 12px 20px
        &__logo
            width: 35px
            img
                width: 100%
